 

<div id="playnow" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
            <h3>Welcome to Access Sheridan 2.0</h3>
            <p>An improved version of Access Sheridan with a better UI and performance. Add programs, courses. Add course to your schedule and 
                view it in calendar.
            </p>
        </div>
    </div>
</div>
 